* {
  box-sizing: border-box;
}
/* textarea { 
    border-style: none; 
    border-color: Transparent; 
    outline: none;        
  } */

body {
  margin: 0;
  background-color: #f3f2f3;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
}

.toolbar {
  /* background-color: #333333; */
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
/* .toolbar {
    background-color: #343334;
    height: 8rem;
    
} */

.colourPicker {
  background-color: #464446;
  height: 3.5rem;
  width: 17rem;
  margin-left: 100px;
  /* border:1px solid red; */
  border-radius: 0.2rem;
  display: flex;
  /* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
}

.filter {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:1px solid red; */
}

.filter-color {
  /* border: 1px solid red; */
  height: 1.3rem;
  width: 1.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.filter-color:hover {
  animation: zoom-in 0.4s ease;
  animation-fill-mode: forwards;
}

.pink {
  background-color: #d795ac;
}

.blue {
  background-color: #60cbdf;
}

.green {
  background-color: #92e6c8;
}

.black {
  background-color: #312f31;
}

.actions {
  height: 3.5rem;
  width: 10rem;
  margin-left: 100px;
  /* border:1px solid red; */
  border-radius: 0.2rem;
  display: flex;
  background-color: #464446;
  /* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
}

.icon-container {
  width: 50%;
  /* border:1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.icon-container:hover {
  background: rgba(0, 0, 0, 0.445);
  color: #fff;
}

.fas {
  /* border:1px solid red; */
  text-align: center;
  color: whitesmoke;
}
.fa-plus {
  font-size: 2.1rem;
  /* color: #2d2b2b; */
}
.fa-times {
  font-size: 2.1rem;
  /* color: #2d2b2b; */
}
.fa-plus-square {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.562);
  cursor: pointer;
}
.fa-plus-square:hover {
  color: rgb(255, 255, 255);
}

.modal_container {
  position: absolute;
  height: 28rem;
  width: 50rem;
  left: calc((100vw - 50rem) / 2);
  top: 30vh;
  /* border: 1px solid red; */
  display: flex;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 3);
}

.input_container {
  border: 1px solid white;
  height: 100%;
  width: 73%;
}

.modal_input {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  padding: 5rem;
  padding-top: 3.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 145%;
  outline: none;
  border-width: 0px;
}

.filter_container {
  /* border: 1px solid red; */
  height: 100%;
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #464446;
}

.filter_container > .filter {
  height: 17%;
  width: 43%;
  cursor: pointer;
  /* border: 1px solid red;   */
}
.filter_container > .filter:hover {
  animation: zoom-in-zoom-out 1s ease;
  animation-fill-mode: forwards;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 1;
  color: #312f31;
  font-weight: bold;
}

::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 1;
  color: #312f31;
}

:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 1;
  color: #312f31;
}

:-moz-placeholder {
  /* Firefox 18- */
  opacity: 1;
  color: #312f31;
}

.border {
  border: 0.33rem solid rgb(255, 255, 255);
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ticket {
  max-width: 20rem;
  min-width: 20rem;
  min-height: 25vh;
  /* border: 1px solid red; */
  margin: 2.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  background-color: #fffeff;
  display: flex;
  flex-direction: column;
}
#lock {
  /* margin-left: 17rem; */
  height: 2.1rem;
  width: 2.1rem;
  overflow: auto;
  cursor: pointer;
  /* border: 1px solid red; */
}
#unlock {
  /* margin-left: 17rem; */
  height: 2.1rem;
  width: 2.1rem;
  display: none;
  overflow: hidden;
  cursor: pointer;
}
[contenteditable] {
  outline: 0px transparent;
}
.id-Container {
  min-height: 2.5rem;
  max-height: 2.5rem;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.note_area {
  height: 65%;
  padding: 2.2rem;
  padding-top: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  background-color: #ffffff;
  font-weight: 600;
  /* margin: 0 auto; */
  /* border: 1px solid rgb(55, 0, 255); */
  overflow: auto;
}

.header {
  min-height: 1rem;
  border-top: 0.9rem solid;
  cursor: pointer;
}

.uid {
  background-color: #fffeff;
  color: #444;
  margin-bottom: 0.1rem;
  font-family: "Encode Sans Semi Expanded", sans-serif;
  font-size: 1rem;
  margin-top: 0.3rem;
  padding-left: 1rem;
  overflow: hidden;
  opacity: 0.4;
  min-height: 1rem;
  /* border: 1px solid red; */
  min-width: 8rem;
  max-width: 8rem;
  cursor: default;
}

.active {
  background-color: #2d2b2b;
}

@media screen and (max-width: 700px) {
  .toolbar {
    height: 8rem;
    flex-direction: column;
    justify-content: center;
  }
  .actions {
    margin: 0 auto;
  }
  .colourPicker {
    margin: 0 auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal_container {
    left: 0;
    /* border: 1px solid red; */
    width: auto;
    display: grid;
    grid-template: auto 400px / auto;
  }
  .input_container {
    width: 100%;
  }
  .modal_input {
  }
  .filter_container {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    /* border: 1px solid red; */
    grid-row: 1;
  }

  .filter_container > .filter {
    max-width: 90px;
    height: 2.5rem;
    margin-right: 7px;
  }
  .fa-plus-square {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 450px) {
  .toolbar {
    height: 8rem;
    flex-direction: column;
    justify-content: center;
  }
  .actions {
    margin: 0 auto;
  }
  .colourPicker {
    margin: 0 auto;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal_container {
    left: 0;
    /* border: 1px solid red; */
    width: auto;
    display: grid;
    grid-template: auto 400px / auto;
  }
  .input_container {
    width: 100%;
  }

  .filter_container {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    /* border: 1px solid red; */
    grid-row: 1;
  }

  .filter_container > .filter {
    max-width: 90px;
    height: 2.5rem;
    margin-right: 7px;
  }
  .fa-plus-square {
    font-size: 2.5rem;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}
